.header {
    background-color: #9c1f1f;
    color: white;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px 10%;
    flex-wrap: wrap;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
}

.header__logo-container {
    flex: 1;
    text-align: left;
    padding: 10px;
}

.header__logo {
    max-width: 100px;
    height: auto;
}

.header__text {
    flex: 2;
    margin-left: 5%;
}

.header__title {
    font-size: 2.5em;
    font-weight: bold;
}

.header__subtitle {
    font-size: 1.1em;
    margin-top: 5px;
}